<manifest package="com.example.string_events"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <activity
            android:name=".CreateEventScreen"
            android:exported="false"/>

        <activity
            android:name=".LoginScreen"
            android:exported="false"/>

        <activity
            android:name=".UiHostActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterScreen"
            android:exported="false"/>

        <activity
            android:name=".NotificationScreen"
            android:exported="false"/>

        <activity
            android:name=".ProfileScreen"
            android:exported="false"/>


        <activity
            android:name=".NotificationMessageDetailActivity"
            android:exported="false"/>


        <activity
            android:name=".OrganizerEventScreen"
            android:exported="false"/>

        <activity
            android:name=".EventDetailActivity"
            android:exported="false"/>

        <activity
            android:name=".OrganizerEventDetails"
            android:exported="false">
        </activity>

        <activity android:name=".EventMessageActivity" />

        <activity
            android:name=".EventOverviewScreen"
            android:exported="false">
        </activity>


        <activity
            android:name=".CanceledUsersActivity"
            android:exported="false"/>

        <activity
            android:name=".ParticipatingUsersActivity"
            android:exported="false"/>

        <activity
            android:name=".WaitlistUsersActivity"
            android:exported="false"/>

        <activity
            android:name=".LotteryDrawActivity"
            android:exported="false"/>

        <activity
            android:name=".EditInformationActivity"
            android:exported="false" />

        <activity
            android:name=".LotteryInformationActivity"
            android:exported="false" />

        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"/>

        <activity
            android:name=".AdminEventManagementActivity"
            android:exported="false"/>

        <activity
            android:name=".AdminImageManagementActivity"
            android:exported="false" />

        <activity
            android:name=".AdminProfileManagementActivity"
            android:exported="false" />

        <activity
            android:name=".AdminProfileScreen"
            android:exported="false"/>

        <activity
            android:name=".AdminEventDetailActivity"
            android:exported="false" />

        <activity
            android:name=".AdminAllUserProfileActivity"
            android:exported="false" />

        <activity
            android:name=".QrCodeActivity"
            android:exported="false" />

        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>