<manifest package="com.example.string_events"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <activity
            android:name=".LoginScreen"
            android:exported="false"/>

        <activity
            android:name=".RegisterScreen"
            android:exported="false"/>

        <activity
            android:name=".NotificationScreen"
            android:exported="false"/>

        <activity
            android:name=".ProfileScreen"
            android:exported="false"/>

        <activity android:name=".OrganizerEventScreen"
            android:exported="false"/>

        <activity
            android:name=".EventDetailActivity"
            android:exported="false"/>

        <activity
            android:name=".OrganizerEventDetails"
            android:exported="false"/>

        <activity
            android:name=".CanceledUsersActivity"
            android:exported="false"/>

        <activity
            android:name=".ParticipatingUsersActivity"
            android:exported="false"/>

        <activity
            android:name=".WaitlistUsersActivity"
            android:exported="false"/>

        <activity
            android:name=".LotteryDrawActivity"
            android:exported="false"/>

        <activity
            android:name=".EditInformationActivity"
            android:exported="false" />

        <activity
            android:name=".LotteryInformationActivity"
            android:exported="false" />

        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OrganizerEventDetails" />
        <activity android:name=".CanceledUsersActivity" />
        <activity android:name=".ParticipatingUsersActivity" />
        <activity android:name=".WaitlistUsersActivity" />
        <activity android:name=".LotteryDrawActivity" />
        <activity android:name=".AdminEventManagementActivity" />
        <activity android:name=".AdminProfileScreen" />

        <activity
            android:name=".EditInformationActivity"
            android:exported="false" />

        <activity
            android:name=".LotteryInformationActivity"
            android:exported="false" />

    </application>
</manifest>